<%= render 'shared/flash_messages' %>
  <div class="container">
    <h1 class="title">防災グラム</h1>
    <p class="subtitle">〜普段、意識している防災対策をブログで共有してみませんか？〜</p>
      <%= link_to "ログイン画面へ", new_user_session_path, class: 'btn btn-primary padding-top' %>
  </div>
