<div class="nested-fields text ">
  <div class="parent">
    <!--<p><%#=f.label :body,'説明' ,style:'margin-bottom:0px;'%></p>-->
    <div class="form-group text-body ">
      <%= f.text_area:body,class:'form-control',rows:5,cols:1,:placeholder => "説明文を入力"  %><br>
    </div>
      <%= f.attachment_field :image ,class:'board_detail_image'%>
  </div>
    <%= f.hidden_field :id%>
    <%= link_to_remove_field( "remove task", f,{}) %>
</div>
