
<div class="container">
  <div class="row" style="background-color: white;">
    <div class="col-md-8 col-md-offset-2", style="margin: 0 auto;">
      <h4>新規投稿</h4>
      <%= render 'form',board: @board %>
    </div>
  </div>
</div>
