
/* Simple Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }

/* body */
body {
  color: #5e5e5e;
  font: 400 87.5%/1.5em 'Open Sans', sans-serif;
}

// ユーザー詳細画面のサイズ
.image-detail-size{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: fill;
}

.display{
  display: flex;
  justify-content: center;
}

.color{
  color:white;
}

.content-bottom{
  margin-bottom:-20px;
}



.delete{
  margin-left: 55px;
  height: 26px;
  width: 50px;
  font-size: 12px;
  padding-top: 3px;
}

.card-itiran {
  margin: 10px auto;
  width: 250px;
  height: 310px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  margin-left: 77px;
  margin-right: 0px;
}

.card-img-itiran {
  width: 250px;
  height: 190px;
  object-fit: cover;
}

.card-img-itiran-profile{
  width:100px;
  border-radius: 50%;
}

.card-detail {
  margin: 10px auto;
  width: 250px;
  height: 265px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  margin-left: 77px;
  margin-right: 0px;
}

.parent-detail{
  display:flex;
}


.postuser-link-update{
  margin-top:4px;
}

.tag{
  padding-left: 5px;
}

#user_profile_image{
  display:none;
}

// タグ機能(マイページ)
.boards__searchForm {
  display: inline-block;
}

.boards__select {
  display: inline-block;
  width: auto;
}

.tag{
  text-align: right;
}


.display{
  display:flex;
}

// ユーザー詳細をborderで囲む
.box27 {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #EEEEEE;
    width: 520px;
    border-radius: 20px;
    margin: 20px auto;
}
.box27 .box-title {
    position: absolute;
    display: inline-block;
    top: -27px;
    left: 10px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    background: #62c1ce;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}
.box27 p {
    margin: 0; 
    padding: 0;
}

.edit{
  margin-right: 140px;
  margin-left: 5px;
}

.profile-bottom{
  padding-top: 81px;
}

.user-itiran-margin{
  margin: 60px;
}

// ユーザー一覧画面のCSS
.card {
  margin: 10px auto;
  width: 276px;
  height: 265px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  margin-left: 77px;
  margin-right: 0px;
}
.card-img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: auto;
  height: 190px;
  object-fit: fill;
}
.card-content {
  padding: 10px;
}
.card-name {
  font-size: 20px;
  text-align: center;
  padding: 0;
}

.card-count {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 5px;
}

// ページネーション
.pagination{
  justify-content: center;
  margin-top: 10px;
}